<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>kfadeliverytime</name>
    <displayName><![CDATA[زمان تحویل سفارش]]></displayName>
    <version><![CDATA[1.38.4]]></version>
    <description><![CDATA[]]></description>
    <author><![CDATA[Kolbeh Fanavari (systemiha.ir)]]></author><author_uri><![CDATA[https://systemiha.ir/]]></author_uri>
    <tab><![CDATA[shipping_logistics]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
